.bottom-wrap {
  background-color: #f2f2f2;
  padding-bottom: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.latest-stories {
  margin-top: 20px;
}

.story {
  margin: 5px;
  height: calc(50% + 30px);
  position: relative;
  width: 30%;
  background-color: white;
  padding: 10px;
  height: auto;
}

.cover {
  width: 100%;
  margin-bottom: 20px;
}

.cover-title {
  color: #fff;
  padding: 20px;
  background-color: #000;
  font-size: 3em;
  margin: 10px 100px 10px 20px; 
}

.cover-text {
  color: #fff;
  padding: 20px;
  display: inline-block;
  background-color: #000;
  font-size: 1.5em;
  margin: 10px 100px 10px 20px;
}

.bg-image {
  width: 100%;
}

.row-details {
  display: flex;
  justify-content: space-between;
}

.topic {
  color: #bb911a;
}

.cover-topic {
  color: #fec830;
}

@media only screen and (max-width: 750px){
  .story {
    width: 100%;
  }
}