body {
  background-color: #f2f2f2;
}

a {
  color: white;
  text-decoration: none; 
}

/* Latest */

.bottom-wrap {
  padding-bottom: 30px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.latest-stories {
  margin-top: 20px;
}

.story {
  margin: 5px;
  height: calc(50% + 30px);
  position: relative;
  width: 30%;
  background-color: white;
  padding: 10px;
  height: auto;
}

.story:hover {
  cursor: pointer;
}

.cover {
  width: 100%;
  margin-bottom: 20px;
}

.cover-title {
  color: #fff;
  padding: 20px;
  background-color: #000;
  font-size: 3em;
  margin: 10px 100px 10px 20px; 
}

.cover-text {
  color: #fff;
  padding: 20px;
  display: inline-block;
  background-color: #000;
  font-size: 1.5em;
  margin: 10px 100px 10px 20px;
}

.bg-image {
  width: 100%;
}

.cover-button {
  background-color: #ea1d5d;
  border: none;
  padding: 15px 30px;
  color: white;
  margin: 10px 100px 10px 20px;
}

.cover-button:hover {
  cursor: pointer;
}

.row-details {
  display: flex;
  justify-content: space-between;
}

.topic {
  color: #bb911a;
}

.cover-topic {
  color: #fec830;
}

.more-button {
  background-color: #ea1d5d;
  border: none;
  padding: 15px 30px;
  color: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

.more-button:hover {
  cursor: pointer;
}

/* Loops */

.text-center {
  text-align: center;
}

.loops {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  padding-bottom: 30px;
}

.loop {
  width: 20%;
  border-radius: 4px;
  padding: 5px;
}

/* Topics */



/* Latest Images */

.latest-images {
  display: inline-block;
  padding-top: 30px;
}

.img-container {
  height: 100%;
  background-color: #fff;
  padding: 16px;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,.16);
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  margin: 10px;
}

.latest-img {
  height: 180px;
}

.img-author {
  color: #0c7dce;
}

.more-photos-button {
  background-color: #ea1d5d;
  border: 1px solid #ed1d5b;
  padding: 15px 30px;
  color: white;
  margin: 5px;
}

.more-photos-button:hover {
  cursor: pointer;
}

.send-button {
  background-color: transparent;
  color: #ed1d5b;
  border: 1px solid #ed1d5b;
  padding: 15px 30px;
  margin: 5px;
}

.send-button:hover {
  cursor: pointer;
  background-color: #ed1d5b;
  color: white;
}

.photo-buttons {
  margin-bottom: 50px;
  text-align: center;
}

@media only screen and (max-width: 750px){
  .story {
    width: 100%;
  }

  .loops {
    flex-wrap: wrap;
  }

  .loop {
    width: 100%;
    margin: 0 5px 0 5px;
  }
}

